<div class="flex-container">

  <div class="div-message">
    <p class="message">What would you like to edit ? <span class="word">{{data.name}}</span></p>
    <img src="../assets/images/bear1.png" width="200" height="150">
  </div>

  <form [formGroup]="myForm">
    <div id="word-data" class="container">
      <div class="content-box">
        <div class="left"></div>
        <div class="right">
          <div class="form-group">
            <label for="wordId">Word</label>
            <input type="text" class="form-control" placeholder="Word" id="wordId" name="word"
                   formControlName="word" [(ngModel)]="data.word.name">
          </div>

          <br>
          <div class="form-group">
            <label for="wordId">Category</label>
            <input type="text" class="form-control" placeholder="Category" id="categoryId"
                   name="category" formControlName="category" [(ngModel)]="data.word.category">
          </div>

          <br>
          <label for="wordId">Sound</label>
          <div class="form-group">
            <input type="file" id="myFileSound" class="form-control" name="file" (change)="onFileChangeSound($event)">
          </div>

          <br>
          <label for="wordId">Picture</label>
          <div class="form-group">
            <input type="file" id="myFilePicture" class="form-control" name="file" (change)="onFileChangePicture($event)">
          </div>
          <br>

          <div class="div-buttons">
            <button type="submit" class="button" (click)="onYesClick(data.word)">Save</button>
            <button class="button" (click)="onNoClick()">Cancel</button>
          </div>
        </div>
      </div>

    </div>
  </form>

</div>
