<!-- Title && Image && Category -->
<div class="generic-content">
  <div class="title-container">
    <div>
      <div class="card-title">
        <div>{{data.word.name}}</div>
        <div><i *ngIf="data.word.soundName != null" class="bi bi-volume-up-fill icons-sound"
                (click)="playSound(data.word.soundName)"></i></div>
      </div>
      <div class="category"> Category: {{data.word.category}}</div>
    </div>
    <img class="image" src="assets/picture/{{data.word.pictureName}}">
  </div>

  <hr>

  <!-- Translations header &&  AddTranslation Button-->
  <div class="translation-header" *ngIf="!showFieldFlag">
    <div class="translation-title"><i class="bi bi-translate"></i>Translations:</div>
    <button type="button" class="button " (click)="showField()">Add Translation <i class="bi bi-plus-lg"></i></button>
  </div>
</div>


<!-- New Translation Form-->
<form [formGroup]="myForm" (ngSubmit)="onSubmit(data.word.id)">
  <div class="flex-container" *ngIf="showFieldFlag">
    <div id="new-translation"> New Translation:</div>
    <div class="form-group">
      <label class="label">Insert Translation:</label>
      <input type="text" class="form-control" placeholder="Translation"
             formControlName="translation">
    </div>
    <div class="form-group">
      <label class="label">Insert Sentence:</label>
      <input type="text" class="form-control" placeholder="Sentence"
             formControlName="sentence">
    </div>
    <div class="buttons-submit">
      <span style="margin-right: 10px"><button type="button" class="button"
                                               (click)="notShowField()">Cancel </button></span>
      <span style="margin-right: 10px"><button type="submit" class="button">Submit </button> </span>
    </div>
  </div>
</form>

<!--Translation list  -->
<div *ngIf="!showFieldFlag">
  <div *ngFor="let translation of data.word.translationDTOList; let i = index" class="text">
    <div class="translation-text">
      <div class="numberCircle" type="button"><span id="circle-number">{{i + 1}}</span><span
        id="circle-edit"
        (click)="showUpdateField(translation.name)">Edit</span></div>
      <div class="trans-text">{{translation.name}}</div>
    </div>

    <!-- Senteces list-->
    <div *ngFor="let sentence of translation.sentenceDTOList; let i =index">
        <div *ngIf="translation.sentenceDTOList.length">
          <div class="sentence-text" type="button">
          <span id="sentence-circle"><i class="bi bi-circle-fill bi-sm" style="font-size: 6px"></i></span>
          <span id="sentence-edit" (click)="onEditSentence(sentence.sentence)">Edit</span>
          <div id="sentence-text">{{sentence.sentence}}</div>
        </div>

        <div *ngIf="editSentenceFlag && this.sentenceObj.sentence === sentence.sentence" class="update-sentence">
          <div class="update-sentece-form">
            <label class="label">Updated Sentence:</label>
            <input type="text" class="form-control" placeholder="Sentence" #updateSentence>
          </div>

          <!-- Update Sentence Buttons-->
          <div class="button-update-sentence">
            <span style="padding-bottom: 30px"><button type="submit" class="button-sm"
                                                       (click)="onUpdateSentence(sentence.id)">Update</button> </span>
            <span><button type="button" class="button-sm"
                          (click)="onDeleteSentence(sentence.id)">Delete <i class="bi bi-trash"></i></button> </span>
            <span><button type="button" class="button-sm"
                          (click)="notOnEditSentence()">Close <i class="bi bi-x-circle-fill"></i></button> </span>
          </div>
        </div>

      </div>
    </div>

    <!-- Update Translation && AddSentence  && Buttons-->
    <div class="update-text" *ngIf=" showUpdateFlag && this.translationObj.name === translation.name">
      <div class="form-update">
        <div class="form-group">
          <label class="label">Update Translation / Add Sentence</label>
          <input #updateTranslation type="text" class="form-control" placeholder="Translation / Sentence">
        </div>
      </div>
      <div class="button-update-translation">
          <span style="padding-bottom: 30px"><button type="submit" class="button"
                                                     (click)="onUpdateTranslation(this.translation.id)">Update Translation</button> </span>
        <span><button type="button" class="button" (click)="onDeleteTranslation(this.translation.id)">Delete  <i
          class="bi bi-trash"></i></button> </span>
        <span><button type="button" class="button-sm" (click)="onAddSentence(this.translation.id)">Add sentence <i
          class="bi bi-plus-lg"></i></button> </span>
        <span><button type="button" class="button" (click)="notShowUpdateField()">Close <i
          class="bi bi-x-circle-fill"></i></button> </span>
      </div>
    </div>

  </div>
</div>




