.bi-search{
  color: #e9891c;
  font-weight: 500;
  font-size: 20px;
}

label {
  color: #e9891c;
  font-weight: 500;
  font-size: 20px;
}

.box{
  height: 40px;
  width: 300px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: white;
  border-radius: 50px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.box input{
  width: 300px;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.5s;
  background: transparent;
  color: #e9891c;
}

li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.flex-container{
  padding-left: 100px;
}

.bi bi-volume-up-fill{
  margin-left: 15px;
  height: 40px;
  cursor: pointer;
}

.textToHover{
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-size: 20px;
  color: #e9891c;
  text-align: center;
}

.item{
  font-weight: bold;
  text-align: center;
  width: 500px;
  font-size: 18px;
}

.icons-sound{
  font-size: 30px;
}

.container-name-image {
  position: relative;
}

.text {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 20px;
  bottom: 0px;
  left: 400px;
  right: 0px;
  height: 100%;
  width: 10%;
  opacity: 0;
  transition: .5s ease;
  z-index: -1;
  border-radius: 28px;
}

.text:hover + #overlayId {
  opacity: 1;
  z-index: 1;

}

.image {
  font-size: 30px;
  position: absolute;
  right: 0px;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 35px;
}

