.container {

    margin: 0px 0px 0px 0px;
    padding: 0 0 0 0;
}


.content-box {
    padding-top: 50px;
    max-width: 850;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* text-align: center; */

}

.left {
    position: relative;
    height: 500px;
    width: 400px;
    background: url(../../../assets/images/tiger3.png) no-repeat center;
    background-size: cover;
}

.right {
    position: relative;
    padding: 40px 20px;
    height: 500px;
    width: 400px;
}

h2 {
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Papyrus";
}

input[type=file] {
    display: block;
    color: grey;
    font-style: oblique;

}

input[type=file]::file-selector-button {
    color: white;
    background-color: #e9891c;
    border-radius: 10px;
    border-color: #e9891c;
    width: 150px;
    font-family: 'Franklin Gothic Medium';
}

label {
    font-family: 'Franklin Gothic Medium';
}

.my-submit-button {
    color: white;
    border-radius: 10px;
    background-color: #e9891c;
    border-color: #e9891c;
    width: 250px;
    height: 50px;
    font-family: 'Franklin Gothic Medium';
    margin: auto;
    align-items: center;
    margin-left: 60px;

}
