<h2>Write your word details</h2>
<br>
<div class="container">
  <img src="../assets/images/beaver1.png" class="image-class">
  <form [formGroup]="myForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div id="word-data" class="container">
      <div class="content-box">
        <div class="left"></div>
        <div class="right">
          <div class="form-group">
            <label for="wordId">Insert Word</label>
            <input type="text" class="form-control" placeholder="Word" id="wordId" name="name"
                   formControlName="name">
          </div>

          <div class="form-group">
            <label for="wordId">Insert Category</label>
            <input type="text" class="form-control" placeholder="Category" id="categoryId"
                   name="category" formControlName="category">
          </div>

          <br>
          <div class="form-group">
            <label for="wordId">Insert Sound</label>
            <input type="file" id="myFile" class="form-control" name="file" (change)="onFileChange($event)">
          </div>

          <div class="form-group">
            <label for="wordId">Insert Picture</label>
            <input type="file" id="myFilePicture" class="form-control" name="file"
                   (change)="onFileChangePicture($event)">
          </div>
          <br>

          <button class="my-submit-button" type="submit">Add your word</button>
        </div>
      </div>
    </div>
  </form>
</div>





