 /*@import "~bootstrap-icons/font/bootstrap-icons.css"; */

 .word-delete-modal {
   border-radius: 50px !important;

   /*border-width: 1px;*/
   /*border-color: #345;*/
   /*border-style: solid;*/
   /*border-radius:6px;*/
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
